<!DOCTYPE html>
{%load static%}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{%static 'css/style.css'%}">
    <title>Cliente</title>
</head>

<body class="bg-success">
    <div class="container bg-success">
        <div class="row justify-content-center">
            <div class="col-4">
                <div id="carouselExampleCaptions" class="carousel slide">
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0"
                            class="active" aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
                            aria-label="Slide 2"></button>
                    </div>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="{%static "img/perro1.png"%}" class="d-block w-100" alt="...">
                            <div class="carousel-caption d-none d-md-block">
                                <h5>Duque</h5>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img src="{%static "img/gato1.png"%}" class="d-block w-100" alt="...">
                            <div class="carousel-caption d-none d-md-block">
                                <h5>Mona</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <table class="table border mt-3">
                    <thead>
                        <tr>
                            <th scope="col">Fecha</th>
                            <th scope="col">Número Atención</th>
                            <th scope="col">Veterinario</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>29/02/18</td>
                            <td>000002</td>
                            <td>Mata Sano</td>
                        </tr>
                        <tr>
                            <td>14/01/18</td>
                            <td>000001</td>
                            <td>Mata Sano</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-8 mt-3 ">
                <h6>Indicaciones</h6>
                <p class="col" id="indicaciones">Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto adipisci veritatis culpa dolor officiis optio quos eveniet neque, accusantium et totam quo veniam impedit, repellat voluptate non, magni earum facilis?
                Eligendi temporibus quo voluptates magnam consequatur cum laborum reiciendis quos? Obcaecati omnis ex libero quisquam impedit qui dolores minus exercitationem amet! Dolore, laboriosam illum. Voluptas doloremque maiores dolorum voluptatibus ad.
                Eaque maxime laborum, corporis, culpa tempore doloremque neque accusamus assumenda perferendis sapiente ad placeat, quaerat labore earum alias nesciunt iusto cumque ipsa velit. Nam accusamus consequuntur perspiciatis impedit consectetur cupiditate.
                Quasi dolorem dolor sunt praesentium ratione corrupti impedit consectetur rerum quas eveniet iste laudantium est repellat accusantium, pariatur nihil. Cum, cupiditate. Natus dolorum eum dicta molestiae illo id vel obcaecati!
                Eum quaerat qui quas reprehenderit voluptatem est aliquid asperiores dolorum fugit? Accusamus iusto labore deserunt quam? Reprehenderit, quos quae! Velit doloribus illum iusto aspernatur inventore ea quidem labore neque harum.
                Odio atque, eveniet repellendus incidunt corrupti culpa exercitationem quam, minima harum, animi laborum tenetur ea? Ratione deserunt recusandae nostrum, pariatur eveniet placeat animi necessitatibus, dignissimos ut odit id temporibus voluptates.
                Quibusdam esse et dignissimos neque, eos possimus aliquam repudiandae unde magnam incidunt suscipit deleniti enim explicabo quisquam vitae sunt dolore nulla harum nobis expedita? Ea odio illum excepturi optio labore?
                Cum, perferendis eum. Assumenda eius eligendi cupiditate, porro delectus id molestiae repellendus quia nobis ullam enim nemo sunt, quibusdam eveniet odit, excepturi autem est ipsam quae. Dignissimos nemo eum at!
                Harum inventore dignissimos facere praesentium ratione corporis, laudantium, aperiam quaerat quae fugiat, repellat velit. In, illo corporis fugiat est cupiditate dolore. Delectus eos omnis laboriosam praesentium velit illo sapiente reprehenderit.
                Minus, quidem ratione unde odit molestias earum commodi error alias impedit hic molestiae provident nesciunt cum sunt esse exercitationem eos delectus quia! Minus porro eos temporibus ad! Magnam, accusantium facere!
                Adipisci iusto iste eum quos atque voluptatum enim facilis consequuntur corrupti assumenda quam sed, repellendus odit reprehenderit vitae fuga facere, repudiandae aliquam iure quod laborum impedit fugit quaerat quasi? Ipsum!
                Consequatur necessitatibus omnis ipsa! Cum iste labore accusantium, voluptas officia eligendi officiis veritatis esse dicta adipisci natus praesentium ipsam vero deserunt repudiandae, quos sequi consequatur vitae veniam. Rerum, suscipit. Cum.
                Esse, quisquam reiciendis ullam veritatis veniam fugit hic tenetur iure architecto officia porro necessitatibus ex maxime sed pariatur eum eligendi deserunt placeat, maiores voluptatibus illum sequi temporibus perspiciatis accusantium. Quas.
                Aliquid excepturi sit magnam, assumenda perferendis voluptatum delectus explicabo. Modi doloremque maxime a, aliquid ullam fugiat, tempora reiciendis odio illo laudantium eligendi vel expedita atque corrupti temporibus dolorum amet quis?
                Obcaecati vero, quidem eveniet ab sapiente hic quaerat laudantium ut velit magnam vel numquam ratione labore sit consequatur quod, qui alias blanditiis quas iusto voluptas repellat totam excepturi iste. Quasi.
                Maiores voluptatem itaque animi consequatur quisquam atque eos impedit delectus! Expedita soluta, cumque cupiditate obcaecati illum nulla! Tenetur quod cumque modi non cum. Doloremque maiores animi sed quisquam, commodi ad.
                Deleniti doloremque similique a dolore repellendus corporis in consequatur! Ipsum tempora ad officia optio aut odio magnam enim possimus pariatur reprehenderit adipisci nostrum saepe labore numquam, nulla voluptate nisi incidunt?
                Recusandae, necessitatibus maxime. Explicabo perferendis magnam nulla soluta fugiat qui corrupti minus asperiores. Hic, possimus dolorem suscipit nisi consequatur impedit nam tempore distinctio, exercitationem modi atque maiores deleniti eligendi. Dignissimos.
                Temporibus perferendis et molestiae autem libero esse obcaecati voluptas impedit, nobis veritatis neque facilis reiciendis tempora fuga. Aliquid expedita, facilis autem perferendis quis voluptatem totam cum et fugit, dicta illo.
                Excepturi harum dolor optio minus temporibus maiores esse quas pariatur quae repellat quaerat corporis, iste sed quisquam. Facere aspernatur, non ratione quaerat doloribus commodi explicabo maiores sunt ad at deleniti.
                </p>

            </div>
        </div>
        <div class="row">
            <div class="col">
                <h6>Tratamiento</h6>
                <p class="col" id="indicaciones">Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto adipisci veritatis culpa dolor officiis optio quos eveniet neque, accusantium et totam quo veniam impedit, repellat voluptate non, magni earum facilis?
                    Eligendi temporibus quo voluptates magnam consequatur cum laborum reiciendis quos? Obcaecati omnis ex libero quisquam impedit qui dolores minus exercitationem amet! Dolore, laboriosam illum. Voluptas doloremque maiores dolorum voluptatibus ad.
                    Eaque maxime laborum, corporis, culpa tempore doloremque neque accusamus assumenda perferendis sapiente ad placeat, quaerat labore earum alias nesciunt iusto cumque ipsa velit. Nam accusamus consequuntur perspiciatis impedit consectetur cupiditate.
                    Quasi dolorem dolor sunt praesentium ratione corrupti impedit consectetur rerum quas eveniet iste laudantium est repellat accusantium, pariatur nihil. Cum, cupiditate. Natus dolorum eum dicta molestiae illo id vel obcaecati!
                    Eum quaerat qui quas reprehenderit voluptatem est aliquid asperiores dolorum fugit? Accusamus iusto labore deserunt quam? Reprehenderit, quos quae! Velit doloribus illum iusto aspernatur inventore ea quidem labore neque harum.
                    Odio atque, eveniet repellendus incidunt corrupti culpa exercitationem quam, minima harum, animi laborum tenetur ea? Ratione deserunt recusandae nostrum, pariatur eveniet placeat animi necessitatibus, dignissimos ut odit id temporibus voluptates.
                    Quibusdam esse et dignissimos neque, eos possimus aliquam repudiandae unde magnam incidunt suscipit deleniti enim explicabo quisquam vitae sunt dolore nulla harum nobis expedita? Ea odio illum excepturi optio labore?
                    Cum, perferendis eum. Assumenda eius eligendi cupiditate, porro delectus id molestiae repellendus quia nobis ullam enim nemo sunt, quibusdam eveniet odit, excepturi autem est ipsam quae. Dignissimos nemo eum at!
                    Harum inventore dignissimos facere praesentium ratione corporis, laudantium, aperiam quaerat quae fugiat, repellat velit. In, illo corporis fugiat est cupiditate dolore. Delectus eos omnis laboriosam praesentium velit illo sapiente reprehenderit.
                    Minus, quidem ratione unde odit molestias earum commodi error alias impedit hic molestiae provident nesciunt cum sunt esse exercitationem eos delectus quia! Minus porro eos temporibus ad! Magnam, accusantium facere!
                    Adipisci iusto iste eum quos atque voluptatum enim facilis consequuntur corrupti assumenda quam sed, repellendus odit reprehenderit vitae fuga facere, repudiandae aliquam iure quod laborum impedit fugit quaerat quasi? Ipsum!
                    Consequatur necessitatibus omnis ipsa! Cum iste labore accusantium, voluptas officia eligendi officiis veritatis esse dicta adipisci natus praesentium ipsam vero deserunt repudiandae, quos sequi consequatur vitae veniam. Rerum, suscipit. Cum.
                    Esse, quisquam reiciendis ullam veritatis veniam fugit hic tenetur iure architecto officia porro necessitatibus ex maxime sed pariatur eum eligendi deserunt placeat, maiores voluptatibus illum sequi temporibus perspiciatis accusantium. Quas.
                    Aliquid excepturi sit magnam, assumenda perferendis voluptatum delectus explicabo. Modi doloremque maxime a, aliquid ullam fugiat, tempora reiciendis odio illo laudantium eligendi vel expedita atque corrupti temporibus dolorum amet quis?
                    Obcaecati vero, quidem eveniet ab sapiente hic quaerat laudantium ut velit magnam vel numquam ratione labore sit consequatur quod, qui alias blanditiis quas iusto voluptas repellat totam excepturi iste. Quasi.
                    Maiores voluptatem itaque animi consequatur quisquam atque eos impedit delectus! Expedita soluta, cumque cupiditate obcaecati illum nulla! Tenetur quod cumque modi non cum. Doloremque maiores animi sed quisquam, commodi ad.
                    Deleniti doloremque similique a dolore repellendus corporis in consequatur! Ipsum tempora ad officia optio aut odio magnam enim possimus pariatur reprehenderit adipisci nostrum saepe labore numquam, nulla voluptate nisi incidunt?
                    Recusandae, necessitatibus maxime. Explicabo perferendis magnam nulla soluta fugiat qui corrupti minus asperiores. Hic, possimus dolorem suscipit nisi consequatur impedit nam tempore distinctio, exercitationem modi atque maiores deleniti eligendi. Dignissimos.
                    Temporibus perferendis et molestiae autem libero esse obcaecati voluptas impedit, nobis veritatis neque facilis reiciendis tempora fuga. Aliquid expedita, facilis autem perferendis quis voluptatem totam cum et fugit, dicta illo.
                    Excepturi harum dolor optio minus temporibus maiores esse quas pariatur quae repellat quaerat corporis, iste sed quisquam. Facere aspernatur, non ratione quaerat doloribus commodi explicabo maiores sunt ad at deleniti.
                    </p>
            </div>

        </div>
        <div class="row justify-content-start">
            <div class="col">
                <a href="{% url 'iniciarSesion' %}">Salir</a>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
        crossorigin="anonymous"></script>
</body>

</html>