<!DOCTYPE html>
{%load static%}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <title>Portal</title>
</head>

<body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
        crossorigin="anonymous"></script>
</body>
</html><!DOCTYPE html>
{%load static%}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{%static 'css/style.css'%}">
    <title>Portal</title>
</head>

<body>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col">
                <div id="carouselExample" class="carousel slide">
                    <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="{%static "img/banner1.png"%}" class="d-block w-100" alt="...">
                    </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-3 mt-3">
                <svg xmlns="http://www.w3.org/2000/svg" width="300" height="160" fill="currentColor" class="bi bi-people" viewBox="0 0 16 16">
                    <path d="M15 14s1 0 1-1-1-4-5-4-5 3-5 4 1 1 1 1h8Zm-7.978-1A.261.261 0 0 1 7 12.996c.001-.264.167-1.03.76-1.72C8.312 10.629 9.282 10 11 10c1.717 0 2.687.63 3.24 1.276.593.69.758 1.457.76 1.72l-.008.002a.274.274 0 0 1-.014.002H7.022ZM11 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4Zm3-2a3 3 0 1 1-6 0 3 3 0 0 1 6 0ZM6.936 9.28a5.88 5.88 0 0 0-1.23-.247A7.35 7.35 0 0 0 5 9c-4 0-5 3-5 4 0 .667.333 1 1 1h4.216A2.238 2.238 0 0 1 5 13c0-1.01.377-2.042 1.09-2.904.243-.294.526-.569.846-.816ZM4.92 10A5.493 5.493 0 0 0 4 13H1c0-.26.164-1.03.76-1.724.545-.636 1.492-1.256 3.16-1.275ZM1.5 5.5a3 3 0 1 1 6 0 3 3 0 0 1-6 0Zm3-2a2 2 0 1 0 0 4 2 2 0 0 0 0-4Z"/>
                </svg>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col border" id="indicaciones">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus impedit deserunt dolorem placeat, nulla sapiente corrupti provident libero consectetur sunt, ad consequuntur quas, aut fugit tempora cum illum laudantium? Ipsam?
                Magni quis aperiam enim nemo autem, velit dolorem quas qui ipsam at aliquid tenetur modi! Quo iusto maiores veritatis temporibus animi accusamus aperiam sint magni. Eligendi non possimus voluptatum optio.
                Fugit expedita ex beatae, eligendi nostrum maiores dolor quidem reiciendis. Ipsum quasi saepe vitae optio, perferendis nisi. Quis ad aperiam pariatur, labore facere sint quisquam quae natus corrupti ex ea?
                Nisi debitis assumenda hic ullam blanditiis aut nobis unde dolorum, labore quasi nihil id aliquid explicabo ratione, earum animi commodi aperiam. Quia culpa provident eaque dolores, at blanditiis in impedit?
                Quas, corrupti optio! Error a earum cum debitis obcaecati natus sint dolor. Quaerat, natus? Repellendus, mollitia itaque. Earum esse ex, recusandae, asperiores praesentium est, veniam soluta expedita a magni illum.
                Fugit vero vitae ducimus voluptas sunt distinctio tenetur quidem nulla nesciunt quam perferendis animi fuga, dolor doloremque est, natus facere, consequatur cupiditate consectetur culpa et? Optio in itaque eum? Maiores?
                Quaerat tempore a, nihil aperiam possimus dolor nisi libero sed nulla fuga accusamus voluptates, cum corporis vero, eveniet alias excepturi quod ipsam commodi officia maiores aliquam! Et sunt provident temporibus!
                Sunt culpa doloremque quam neque harum, magni alias numquam deserunt autem facilis delectus nulla minus necessitatibus quis excepturi quidem iste quos totam. Odio veniam doloribus neque repellat, necessitatibus vero. Molestiae.
                Distinctio, ipsam atque. Quidem accusantium non at quod quam, repellendus dolorem dignissimos iusto tempore commodi alias provident atque beatae nam, quo impedit autem maiores, eaque recusandae perferendis maxime adipisci quaerat!
                Voluptatem quasi, debitis, aliquid earum animi repudiandae esse asperiores facere quisquam, neque labore fuga aspernatur? Ea inventore eaque officia veniam repellendus error unde perferendis voluptatem rerum, eos praesentium laboriosam aspernatur.
                Dolorem iste nam aut debitis quibusdam molestiae asperiores odio vel quia numquam veritatis quo ipsum rem sit sed ut sunt cumque molestias nostrum voluptatibus corrupti saepe, quis quas? A, quis!
                Natus nobis labore nisi dolor amet voluptate iste, possimus quidem laboriosam autem numquam illum adipisci perferendis, enim quam aliquid voluptatum. Expedita, ducimus? Doloribus, illo? Porro aliquid quia inventore enim temporibus.
                Facilis amet assumenda nesciunt. Culpa laborum blanditiis suscipit aperiam et illum error, praesentium aliquid, amet quibusdam temporibus iste consectetur earum! Adipisci facilis aut aspernatur quidem delectus voluptate vitae iure velit!
                Tempora eveniet ut repudiandae nam, quidem numquam sit eligendi. Perspiciatis mollitia sed quis maxime ratione, unde atque nam accusamus facere eligendi maiores porro molestias tenetur amet quos qui, voluptate aperiam?
                Id fuga ipsum expedita quae nemo animi ad, mollitia facilis numquam, ratione commodi placeat deleniti rem? Inventore, magnam, illum iure, dolorem modi obcaecati saepe voluptatum quod asperiores voluptas impedit. Natus.
                Veritatis non harum ratione veniam recusandae minus quidem odit voluptatem repellat excepturi ut alias cumque, explicabo asperiores error omnis numquam corporis laboriosam nihil, dolor eum nostrum. Maxime quas optio culpa.
                A ex omnis ratione vero iusto vitae quis mollitia sapiente blanditiis eligendi et, nisi, tempore commodi cum quam ut quia velit labore veritatis. Neque laborum quos reiciendis harum tenetur in.
                Vero possimus, totam unde asperiores nesciunt placeat quos. Deleniti repellendus eaque id aperiam facere! Voluptates voluptatem aut ratione aliquid iusto numquam quos dignissimos. Impedit voluptatem illum dicta dolore dolorum rerum?
                Ea commodi vel non praesentium nihil officia ratione impedit reprehenderit. Voluptatum reiciendis omnis eum at a! Eaque expedita hic, suscipit non placeat fugit unde, exercitationem saepe minus corrupti repellendus iusto?
                Quae rerum iusto accusantium debitis saepe eos quod repellendus provident aut praesentium inventore temporibus, minima vero sunt autem sint placeat expedita officiis. Quod nostrum officiis maiores ut quam rem quo.</p>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
        crossorigin="anonymous"></script>
</body>
</html>